h3 {
  text-align: center;
}

.icon {
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  margin: 0 auto;
  width: 300px;
}

div {
  text-align: center;
}